<ul id="navigation">
  <li id="nav_services"><%= link_to 'services', static_page_path('services'), :title => 'What services can Foliosus Web Design offer you?' %></li>
  <li id="nav_portfolio"><%= link_to 'portfolio', clients_path, :title => 'See the design portfolio for Foliosus Web Design' %></li>
  <li id="nav_blog"><%= link_to 'blog', blog_path, :title => 'Read the Foliosus blog' %></li>
  <li id="nav_contact"><%= link_to 'contact', contact_path, :title => 'Contact Foliosus Web Design' %></li>
</ul>