    <div id="footer">
      <p>XHTML | CSS | Design by <a href="http://www.foliosus.com/" title="Your website done right">Foliosus Web Design LLC</a> | <%= link_to 'Contact OMA', contact_path, :title => 'Send e-mail to OMA' %></p>
    </div> <!-- /footer -->
