<%- content_for :head do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('textarea').eq(0).parent().after('<div class="wmd-preview"></div>').after('<h3 class="preview">Preview</h3>');
    });

    wmd_options = {
			output: "Markdown",
			lineLength: 40,
			buttons: "bold italic | link blockquote | ol ul heading",
			autostart: true
		};
  </script>
  <%= javascript_include_tag 'wmd/wmd' %>
<%- end -%>
