<%- @text = capture do -%>
<h1>Thanks!</h1>
Thanks for your inquiry through via our website. Your message has been passed on, and you should expect a response from OMA soon.

Below is a copy of the message you sent.  Thanks for your interest in the Oregon Montessori Association.

<h2>Your request</h2>

<%= @content %>
<%- end -%>