<% @meta[:title] = 'Database is down' %>

<p>We're sorry. We seem to be having database connectivity problems.  Most likely, the database is down for maintenance.  Please try refreshing the page; if the error persists, then please come back later to try again.</p>

<p>We apologize for the inconvenience.</p>