<%= content_tag(:p, "Live site: " + link_to(@client.url, @client.url, :title => "Visit the live site for #{@client.name}", :rel => 'nofollow')) if @client.url? %>
  
<%= simple_format(auto_link(sanitize(@client.content))) %>

<p><%= link_to_if(@client.url?, image_tag(@client.image_path, :alt => "Screenshot for #{@client.name}", :width => 536, :height => 536), @client.url, :title => "Visit the live site for #{@client.name}", :class => 'photo', :rel => 'nofollow') %></p>

<p><%= link_to 'Return to portfolio', clients_path %></p>