  <div id="footer">
    <p>All content Copyright &copy; Foliosus Web Design LLC. XHTML | CSS. <%= link_to 'Got feedback?', static_page_path(:contact) %></p>
  </div> <!-- /footer -->
</div> <!-- /container -->

</body>
</html>
