  <%= render :partial => "shared/navigation" %>
</div> <!-- /container -->

<div id="footer">
  <p>All content Copyright &copy; Foliosus Web Design LLC | <a href="http://validator.w3.org/check/referer" title="Validate this page's XHTML">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Valiadte this page's CSS">CSS</a> | <%= link_to 'Got feedback?', contact_path %></p>
</div> <!-- /footer -->

</body>
</html>
