  <%= render :partial => "shared/navigation" %>
</div> <!-- /container -->

<div id="footer">
  <p>All content Copyright &copy; Foliosus Web Design LLC. XHTML | CSS. <%= link_to 'Got feedback?', contact_path %></p>
</div> <!-- /footer -->

</body>
</html>
